@model KaiiCosmeticos.Sistema.Models.PedidoVendas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PedidoVendas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFrete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoFrete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lucro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lucro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descontos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descontos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
